# Created by venv; see https://docs.python.org/3/library/venv.html
# [db.sqlite3 / myenv #(가상환경 이름) / migrations / .DS_Store ] => 제거할 파일들.

# mac 시스템 파일
.DS_Store

# 데이터베이스 파일
db.sqlite3

# 마이그레이션 파일 폴더 -> 없애기
#**/migrations/

# 가상환경 폴더
myenv/

# 캐시 파일
**/__pycache__/